<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeer.Friendly" version="2.5.0" targetFramework="net461" />
  <package id="Codeer.Friendly.Windows" version="2.7.0" targetFramework="net461" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.7.0" targetFramework="net461" />
  <package id="Codeer.Friendly.Windows.KeyMouse" version="0.5.0" targetFramework="net461" />
  <package id="Dapplo.Log" version="1.0.29" targetFramework="net461" />
  <package id="Dapplo.Windows.Common" version="0.5.35" targetFramework="net461" />
  <package id="Dapplo.Windows.Messages" version="0.5.35" targetFramework="net461" />
  <package id="Dapplo.Windows.User32" version="0.5.35" targetFramework="net461" />
  <package id="SimWinKeyboard" version="1.0.0" targetFramework="net461" />
  <package id="SimWinMouse" version="1.0.0" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
</packages>